/* Font */
$font-main: 'Montserrat', sans-serif;
$font-code: Menlo, Monaco, Consolas, "Courier New", monospace;

$font-extra-light: 200;
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-bold: 700;

$text-color: $brand-black;

/* Spacing */
$spc: 10px!default;
$spc-half: $spc / 2;
$spc-double: $spc * 2;

/* Borders */
$border-primary: 1px solid $brand-grey!default;
$border-color: $brand-grey!default;

$radius-default: 3px!default;

/* Buttons */
$btn-primary-text: $brand-white!default;
$btn-primary-background: $brand-blue!default;

$btn-second-text: $brand-grey-dark!default;
$btn-second-border: 1px solid $brand-grey!default;

/* Breakpoints */

$mobile-min: 481px;
$mobile-max: 480px;