<div class="c-alert" *ngIf="!notes.length">You have no items</div>

<div class="c-filters">
  <button class="btn btn-secondary" (click)="sort('name')">Sort by Name</button>
  <button class="btn btn-secondary" (click)="sort('date')">Sort by Date</button>
</div>

<div class="c-note" *ngFor="let note of notes | sort: {option: option}; let i = index">
  <div class="content">
    <h2 class="name">{{ note.name }}</h2>
    <div class="date"><span class="label">Updated: </span>{{ note.date | date: 'yMdjm' }}</div>
  </div>
  <div class="actions">
    <button class="btn btn-edit" [routerLink]="['/detail', note.id]">Edit</button>
    <button class="btn btn-delete" (click)="deleteNote(i)">Delete</button>
  </div>
</div>